@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/jungle";
@import "reset";

// ? Главный scss-файл;
.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;

    // ? Чтобы кнопка сворачивания сайдбара не залазила на основной контент;
    padding-left: 45px;

    // ? Убирает внешний скролл и убирает нехватающие 50 пикселей снизу от всего контента;
    height: calc(100vh - var(--navbar-height));

    // ? Скролл на внутренней части где контент, но чтобы сайдбар и навбар оставались неподвижными;
    overflow-y: auto;

    // ? Для того, чтобы контентная основная часть не прижимала содержимое сайдбара;
    flex-shrink: 100;

    // width: 100%;
}
