@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/jungle";
@import "reset";

// ? Главный scss-файл;
.app {
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;
    background: var(--bg-color);
}

.app_redesigned {
    min-height: 100vh;
    background: var(--bg-redesigned);
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    // ? Ширина scrollbar;
    width: 12px;
}

*::-webkit-scrollbar-track {
    // ? Цвет дорожки;
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    // ? Цвет плашки;
    background-color: var(--inverted-bg-color);

    // ? Закругления плашки;
    border-radius: 20px;

    // ? Padding вокруг плашки;
    border: 1px solid  var(--inverted-bg-color);
}
