@keyframes ldio-sua4x21xnrr-1 {
    0% {
        top: 36px;
        height: 128px;
    }

    50% {
        top: 60px;
        height: 80px;
    }

    100% {
        top: 60px;
        height: 80px;
    }
}

@keyframes ldio-sua4x21xnrr-2 {
    0% {
        top: 41.99999999999999px;
        height: 116.00000000000001px;
    }

    50% {
        top: 60px;
        height: 80px;
    }

    100% {
        top: 60px;
        height: 80px;
    }
}

@keyframes ldio-sua4x21xnrr-3 {
    0% {
        top: 48px;
        height: 104px;
    }

    50% {
        top: 60px;
        height: 80px;
    }

    100% {
        top: 60px;
        height: 80px;
    }
}

.ldio-sua4x21xnrr div {
    position: absolute;
    width: 30px;
}

.ldio-sua4x21xnrr div:nth-child(1) {
    left: 35px;
    background: #c5f601;
    animation: ldio-sua4x21xnrr-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.2s;
}

.ldio-sua4x21xnrr div:nth-child(2) {
    left: 85px;
    background: #21ef01;
    animation: ldio-sua4x21xnrr-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.1s;
}

.ldio-sua4x21xnrr div:nth-child(3) {
    left: 135px;
    background: var(--primary-color);
    animation: ldio-sua4x21xnrr-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: undefineds;
}

.loadingio-spinner-pulse-968omdk8qim {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.ldio-sua4x21xnrr {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-sua4x21xnrr div {
    box-sizing: content-box;
}
