.comment-card {
    padding: 10px;
    box-shadow: var(--shadow-color);
    border-radius: var(--border-radius-m);
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-text {
    margin-top: 10px;
}

.comment-username {
    margin-left: 10px;
}
