.SMALL {
    width: 230px;
    transition: 0.15s;
    cursor: pointer;

    .image-wrapper {
        // width: 200px;
        // height: 200px;
        position: relative;
        padding: 4px 10px;
    }

    .image {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .date {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    &:hover {
        opacity: 0.7;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .info-wrapper {
        display: flex;
        align-items: center;

        // margin-top: 8px;
    }

    .types p {
        width: 115px;
        white-space: nowrap;

        // ? Скрываем текст, который выходит за ширину параграфа;
        overflow: hidden;

        // ? Добавляем многоточие к концу текста, который был обрезан из-за ограниченной ширины параграфа;
        text-overflow: ellipsis;
    }

    .views {
        // margin-left: auto;
        // margin-right: 8px;
    }

    .title {
        // margin-top: 8px;

        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .card {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
    }
}

.BIG {
    .views {
        margin-left: auto;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin-left: 8px;
    }

    .date {
        margin-left: auto;
    }

    .title {
        margin-top: 8px;
    }

    .image {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        margin: 16px 0;
    }

    .footer {
        margin-top: 16px;
    }

    .text-block {
        max-height: 200px;
        overflow-y: hidden;
    }
}

.list-redesigned {
    &.BIG {
        width: 100%;
    }

    &.SMALL {
        width: 240px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // border-radius: var(--border-radius-special-l);
    }
}
