.star-rating {
    .hovered {
        fill: var(--primary-color);
    }
}

.rating-redesigned {
    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--icon-redesigned);
    }
}

.normal {
    fill: none;
}

.star-icon {
    fill: none;
    cursor: pointer;
}

.selected {
    cursor: auto;
}
