.card {
    padding: 24px;
}

.gap_0 {
    padding: 0;
}

.gap_8 {
    padding: 8px;
}

.gap_16 {
    padding: 16px;
}

.gap_24 {
    padding: 24px;
}

.normal {
    background: var(--dark-bg-redesigned);
    border-radius: var(--border-radius-xxl);
}

.light {
    background: var(--light-bg-redesigned);
}

.outlined {
    border: 1px solid var(--accent-redesigned);
}

.round {
    border-radius: var(--border-radius-special-l);
}

.max {
    width: 100%;
}

.full-height {
    height: 100%;
}
