.code {
    border: 1px solid var(--primary-color);
    padding: 20px;
    position: relative;
    background: var(--code-bg);
    overflow: auto;
}

.code-redesigned {
    padding: 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    overflow: auto;
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
}

.copy-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copy-icon path {
    stroke: var(--primary-color);
}
