// ? Тёмная тема приложения;

.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --shadow-color: 0 0 0 rgb(0 0 0 / 20%);
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0449e0;
}
