// ? Тёмная тема приложения;

.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --shadow-color: 0 0 2px var(--inverted-secondary-color);
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0449e0;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
    --code-bg: #111182;
    --card-bg: #282885;
    --listbox-bg: #282885;
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;
}
