.dropdown {
    position: relative;
}

.button {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    background: var(--card-bg);
    position: absolute;
    z-index: 10000;
    border-radius: var(--border-radius-l);
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.options-bottom_left {
    top: 100%;
    right: 0;
}

.options-bottom_right {
    top: 100%;
    left: 0;
}

.options-top_left {
    bottom: 100%;
    right: 0;
}

.options-top_right {
    bottom: 100%;
    left: 0;
}
