.input-wrapper {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-input-redesigned);
    padding: 8px 16px;
    border: 1px solid var(--icon-redesigned);
    width: 100%;
}

.focused {
    border: 2px solid var(--accent-redesigned);

    .addon-left svg,
    .addon-right svg {
        color: var(--accent-redesigned);
    }
}

.with-addon_left {
    padding-left: 8px;
}

.with-addon_right {
    padding-right: 8px;
}

.addon-left,
.addon-right {
    display: flex;
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    text-shadow: 0 0 0 var(--secondary-color);
    background: none;

    &::placeholder {
        color: var(--hint-redesigned);
    }
}

.readonly {
    opacity: 0.7;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}
