.button-tggltheme {
    border-radius: var(--border-radius-m);
    background: linear-gradient(to bottom, #0073b1, #00a6d4);
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    transition:
        box-shadow,
        background 0.3s ease;
}

.button-tggltheme:hover {
    background: linear-gradient(to bottom, #0069a2, #09c);
}
