.error-page {
    width: 100%;
    height: 100vh;
    background-color: #bbc0fb;
}

.error-text {
    color: black;
    font-size: 150px;
    margin-bottom: 68px;
}

.error-description {
    color: black;
    font-size: 20px;
    margin: 10px 0;
}

.error-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 36px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #1a237e;
    border: none;
    border-radius: var(--border-radius-l);
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.error-button:hover {
    background-color: #303f9f;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.error-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(16 33 128 / 30%);
}
