.placeholder {
    margin-right: 5px;
    opacity: 0.9;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: transparent;
    text-shadow: 0 0 0 var(--secondary-color);
    opacity: 0.9;

    &:focus {
        outline: none;
    }
}

.readonly {
    .input,
    .placeholder {
        opacity: 1;
    }
}

.angle-bracket {
    animation: blink 1.25s forwards infinite;
}

.caret-wrapper {
    flex-grow: 1;
    position: relative;
}

.caret {
    height: 2px;
    width: 9px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: blink 1s forwards infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}
